/*body attributes*/
body{
    background-color: white;
}

#profilepic{
    border-radius: 50px;
    height: 200px;
    width: 300px;
}

#maininfo{
    font-family: "Marker Felt", "fantasy";
    color: #8D6CAB;
    font-size: 300%;

}


.icon{
    width: 60px;
    height: 60px;
}

.ppcenter{
    text-align: center;
    padding-top: 11.5%;
    padding-bottom: 13.5%;
}

.fcenter{
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 5.5%;
}



#aboutme{
    line-height: 50px;

}


.sectionHeader {
    text-align: center;
    line-height: 1cm;
    color: #8D6CAB;
    font-size: 300%;
    clear: both;
    font-family: "Marker Felt", "fantasy";
}

.icon{
    width: 60px;
    height: 60px;
}

/*for the picture of a portfolio member*/
.ppic {
    border-radius: 50px;
    width: 200px;
    height: 133px;
    margin:auto;
    display:block;
}
/*for the information of a portfolio member*/
.pinfo{
    text-align: center;
    line-height: 50px;
}

.fpic {
    border-radius: 50px;
    width: 300px;
    height: 400px;
    object-fit: cover;
    text-align: center;
}

.workpadding{
    padding-bottom: 30px;
}

.githubpadding{
    padding-bottom: 25px;
}


#final{
    text-align: center;
    line-height: 50px;
    color: #8D6CAB;
    font-size: 200%;
    font-family: "Marker Felt", "fantasy";
    padding-bottom: 50px;

}


/*body border*/
#top, #bottom, #left, #right{
    background: #F0F0F0;
    position: fixed;
}

#top2, #bottom2, #left2, #right2{
    background: #FFFFFF;
    position: fixed;
}

#left, #left2, #right, #right2 {
    top: 0; bottom: 0;
    width: 15px;
}

#left, #left2 {
    left: 0;
}

#right, #right2{
    right: 0;
}

#top, #top2, #bottom, #bottom2{
    left: 0; right: 0;
    height: 15px;
}

#top, #top2{
    top: 0;
}

#bottom, #bottom2{
    bottom: 0;
}

/*if needed*/
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 0px;
    background: #6cab6e;
}

.container2{
    flex-direction: row;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display:inline-block;

}

.container3{
    padding-top: 50px;
    padding-bottom: 50px;
}

.color{
    background-color: #F0F0F0;

}

